@{
    ViewData["Title"] = "Home Page";
}

<!--Page home or index -->
<div class="container px-4 py-4" id="home">
    <div class="bg-body-tertiary p-5 rounded">
        <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal">WebApi consumer example</h1>
            <p class="fs-5">
                This example is part of the ASP.NET Web Development course, and shows how to combine ASP.NET
                MVC, Razorpages, which is C# and .NET backend,
                with css and javascript from Bootstrap in the frontend.
            </p>

            <p>
                We build a Webapplication that communicates and consume the services of the with the goodfriends WebApi
                that we build in the .NET Data Access course.
            </p>
            <p>
                Using the <a href="https://localhost:7066/swagger/index.html" role="button">WebApi services</a>, we read
                and manipulate the data in the code-first database we created and populated in
                the .NET Data Access course. Enjoy!
            </p>
        </div>
    </div>
</div>
<h5>Semira Gebremikael</h5>
