@model FriendsByCountryModel
@{
    ViewData["Title"] = "Friends";
}
<div class="container px-4 py-4 m-4" id="friends-by-country">
    <h2 class="pb-2 border-bottom">Friends by Country</h2>
    <p class="fs-5">Click in on a country below to see what cities my friends are living in.</p>
    <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
        @foreach (var country in Model.FriendsByCountry)
        {
            <a href="FriendsInCountryOrCity?country=@country.Country" class="text-decoration-none">
                <div class="col">
                    <div class="card-riendsByCountry card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                         style="background-image: url('https://cdn.pixabay.com/photo/2016/01/09/18/27/journey-1130732_1280.jpg'); height: 300px; width: 250px;">
                        <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-1 rounded-4">
                            <h5 class="pt-1 mt-1 mb-4 display-6 lh-1 fw-bold">@country.Country</h5>
                            <p class="fs-5">@country.FriendCount Friends in @country.Country</p>
                        </div>
                    </div>
                </div>
            </a>
        }

    </div>
</div>




