<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3109d275-849b-45b3-a493-a5631aafee6d/resourceGroups/data-access-course/providers/Microsoft.Web/sites/AppWebApiDacc</ResourceId>
    <ResourceGroup>data-access-course</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://appwebapidacc.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://appwebapidacc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$AppWebApiDacc</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>